/* CREATED AND MENTAINED BY: EBRAHIM HMMAD */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 400;
  src: local("Geist"), url(fonts/Geist.woff2) format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: BodoniModa;
  src: url(fonts/BodoniModa_18pt-Bold.woff2) format("woff2");
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(fonts/PlayfairDisplay-Bold.woff2) format("woff2");
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.woff2) format("woff2");
}
:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --primary: #96969c;
  --primary-hover: #d2d2d7;
  --secondary: #f5f5f7;
  --section: #161617;
  --primary-w: #1d1d1f;
  --secondary-w: #6e6e73;
  --detail-w: #454547;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 4rem;
  --fs-xl: 5rem;
  --glass-background: #ffffff05;
  --glass-border: 1px linear-gradient(45deg, #ffffff0d, #ffffff, #ffffff0d);
  --glass-boxshadow: 0px -2px 4px 0px #ffffff66, 0px 2px 4px 0px #00000033;
  --glass-backdrop-filter: blur(10px);
}
* {
  font-family: Geist, sans-serif;
  font-size: var(--fs-400);
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--detail-w);
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--primary);
  min-height: 50px;
}
.navitem,
.navlink {
  color: var(--primary);
  text-decoration: none;
}
#navcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding-right: 16px;
  max-width: 1200px;
}
.navlink {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.navlink:hover {
  color: var(--secondary);
}
.navlink:active {
  color: var(--detail-w);
}
.logo {
  margin: 5px 0px 2px 0px;
  margin-right: auto;
}
.navlist {
  list-style: none;
}
.navitem {
  display: inline-block;
}
#about {
  padding: 0px 8px 0px 0px;
}
#conact {
  padding: 0px 0px 0px 8px;
}

/* FUNCTIONS */
body {
  min-height: 100vh;
  display: flex;
}
.body {
  flex-direction: column;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
main {
  flex: 1;
  border-bottom: 1px solid var(--primary);
}
img {
  pointer-events: none;
}

/* FOOTER */
.footer {
  min-height: 50px;
}
.foot-item,
.foot-link {
  color: var(--primary);
  text-decoration: none;
}
#footercon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-right: 16px;
  max-width: 1200px;
}
.foot-link {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.foot-link:hover {
  color: var(--secondary);
}
.foot-link:active {
  color: var(--detail-w);
}
.foot-logo {
  margin: 5px 0px 2px 0px;
}
.foot-list {
  list-style: none;
}
.foot-item {
  display: inline-block;
  padding: 0px 16px;
}
.instagram {
  fill: var(--primary);
  transition: all 0.3s ease 0s;
  margin-left: auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.instagram:hover {
  fill: var(--secondary);
}
.instagram:active {
  fill: var(--detail-w);
}

/* HOMEPAGE */
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
  z-index: 2;
  animation: autoRun 12s linear infinite;
  -webkit-animation: autoRun 12s linear infinite;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    -o-transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    -webkit-transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    -moz-transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    -ms-transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    -o-transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}
.banner .slider:has(.item:hover) {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
  -webkit-transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
  -moz-transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
  -ms-transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
  -o-transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(500px);
  backdrop-filter: var(--glass-backdrop-filter);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.banner .slider .item:hover {
  backdrop-filter: none;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.banner .slider .item .card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: var(--glass-border);
  background-color: var(--glass-background);
  box-shadow: var(--glass-boxshadow);
  backdrop-filter: blur(0px);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  overflow: hidden;
}
.banner .slider .item .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.banner .slider .item .card:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.card::before {
  content: "";
  position: absolute;
  top: -90%;
  left: -60%;
  height: 350px;
  width: 40px;
  background-color: #ffffff33;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.card:hover::before {
  animation: shine linear 7s infinite;
  -webkit-animation: shine linear 7s infinite;
}
@keyframes shine {
  0% {
    transform: rotate(25deg) translate(80px, 70px);
    -webkit-transform: rotate(25deg) translate(80px, 70px);
    -moz-transform: rotate(25deg) translate(80px, 70px);
    -ms-transform: rotate(25deg) translate(80px, 70px);
    -o-transform: rotate(25deg) translate(80px, 70px);
  }
  50% {
    transform: rotate(25deg) translate(445px, 70px);
    -webkit-transform: rotate(25deg) translate(445px, 70px);
    -moz-transform: rotate(25deg) translate(445px, 70px);
    -ms-transform: rotate(25deg) translate(445px, 70px);
    -o-transform: rotate(25deg) translate(445px, 70px);
  }
  100% {
    transform: rotate(25deg) translate(80px, 70px);
    -webkit-transform: rotate(25deg) translate(80px, 70px);
    -moz-transform: rotate(25deg) translate(80px, 70px);
    -ms-transform: rotate(25deg) translate(80px, 70px);
    -o-transform: rotate(25deg) translate(80px, 70px);
  }
}
.card-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.card-content h3 {
  width: auto;
  height: auto;
  max-height: 240px;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary);
  margin-top: 10px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: left;
  align-items: center;
  align-self: baseline;
  text-wrap: wrap;
  letter-spacing: -2px;
  overflow-wrap: break-word;
}
.card-content .pic {
  content: "";
  width: 100%;
  margin-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
#first-p {
  background-image: url(images/building.webp);
}
#second-p {
  background-image: url(images/camera.webp);
  background-position: 0px 20px;
}
#third-p {
  background-image: url(images/fpen.webp);
  background-position: -10px 40px;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.banner .content h1 {
  font-family: "Geist";
  font-size: 10em;
  width: 100%;
  line-height: 1em;
  color: var(--primary);
  position: relative;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px var(--primary);
  color: transparent;
}
.banner .content .author {
  font-family: Geist;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}
.banner .content h2 {
  font-size: 3em;
  max-width: 800px;
}
.banner .content p {
  font-size: 1em;
  max-width: 200px;
  margin: 0 auto;
}
.banner .content .model {
  background-image: url(images/model.webp);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

/* ABOUT */
.about-con {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
}
.head {
  height: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  margin: 25px auto;
  background-color: var(--section);
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}
.head .frame {
  width: 400px;
  height: 500px;
  float: left;
  margin-top: 46px;
  margin-right: 2rem;
  object-fit: cover;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: var(--glass-border);
  background-color: var(--glass-background);
  box-shadow: var(--glass-boxshadow);
  backdrop-filter: var(--glass-backdrop-filter);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.head .frame:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.head .frame::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 40px;
  top: -540px;
  background-color: #ffffff33;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
}
.head .frame:hover::before {
  animation: shiney linear 8s infinite;
  -webkit-animation: shiney linear 8s infinite;
}
@keyframes shiney {
  0% {
    transform: rotate(45deg) translate(0px, 0px);
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    -moz-transform: rotate(45deg) translate(0px, 0px);
    -ms-transform: rotate(45deg) translate(0px, 0px);
    -o-transform: rotate(45deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(45deg) translate(630px, 0px);
    -webkit-transform: rotate(45deg) translate(630px, 0px);
    -moz-transform: rotate(45deg) translate(630px, 0px);
    -ms-transform: rotate(45deg) translate(630px, 0px);
    -o-transform: rotate(45deg) translate(630px, 0px);
  }
  100% {
    transform: rotate(45deg) translate(0px, 0px);
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    -moz-transform: rotate(45deg) translate(0px, 0px);
    -ms-transform: rotate(45deg) translate(0px, 0px);
    -o-transform: rotate(45deg) translate(0px, 0px);
  }
}
.head .frame::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-image: url(images/model.webp);
  background-size: cover;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
}
.head .frame:hover::after {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.head .content {
  margin-bottom: 40px;
  margin-right: 2rem;
  padding-left: 450px;
  overflow-wrap: break-word;
}
.head .content h1 {
  font-weight: 500;
  margin-top: 50px;
  font-size: 3rem;
  color: var(--secondary);
}
.head .content p {
  margin-bottom: 16px;
}
.btns {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}
.button {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: var(--glass-border);
  background-color: var(--glass-background);
  box-shadow: var(--glass-boxshadow);
  backdrop-filter: var(--glass-backdrop-filter);
  overflow: hidden;
}
.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.see::before {
  content: "";
  position: absolute;
  top: -190%;
  left: -20%;
  height: 150px;
  width: 20px;
  background-color: #ffffff33;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.collab::before {
  content: "";
  position: absolute;
  top: -190%;
  left: -8%;
  height: 150px;
  width: 20px;
  background-color: #ffffff33;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.button:hover::before {
  animation: shining linear 5s infinite;
  -webkit-animation: shining linear 5s infinite;
}
@keyframes shining {
  0% {
    transform: rotate(25deg) translate(0px, 0px);
    -webkit-transform: rotate(25deg) translate(0px, 0px);
    -moz-transform: rotate(25deg) translate(0px, 0px);
    -ms-transform: rotate(25deg) translate(0px, 0px);
    -o-transform: rotate(25deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(25deg) translate(230px, 0px);
    -webkit-transform: rotate(25deg) translate(230px, 0px);
    -moz-transform: rotate(25deg) translate(230px, 0px);
    -ms-transform: rotate(25deg) translate(230px, 0px);
    -o-transform: rotate(25deg) translate(230px, 0px);
  }
  100% {
    transform: rotate(25deg) translate(0px, 0px);
    -webkit-transform: rotate(25deg) translate(0px, 0px);
    -moz-transform: rotate(25deg) translate(0px, 0px);
    -ms-transform: rotate(25deg) translate(0px, 0px);
    -o-transform: rotate(25deg) translate(0px, 0px);
  }
}
.collab {
  margin-left: 20px;
}

/* CONTACT */
.contact-con {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.contact-con .con-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  position: relative;
  object-fit: cover;
  transition: 0.8s ease all;
  -webkit-transition: 0.8s ease all;
  -moz-transition: 0.8s ease all;
  -ms-transition: 0.8s ease all;
  -o-transition: 0.8s ease all;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: var(--glass-border);
  background-color: var(--glass-background);
  box-shadow: var(--glass-boxshadow);
  backdrop-filter: var(--glass-backdrop-filter);
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.con-card svg {
  fill: var(--primary);
  width: 128px;
  height: 128px;
}
.con-card h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 24px;
}
.con-card::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: var(--glass-border);
  background-color: var(--glass-background);
  box-shadow: var(--glass-boxshadow);
  backdrop-filter: var(--glass-backdrop-filter);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms, opacity 0ms linear, 0.5s ease-out 0.4s;
  -webkit-transition: visibility 0ms, opacity 0ms linear, 0.5s ease-out 0.4s;
  -moz-transition: visibility 0ms, opacity 0ms linear, 0.5s ease-out 0.4s;
  -ms-transition: visibility 0ms, opacity 0ms linear, 0.5s ease-out 0.4s;
  -o-transition: visibility 0ms, opacity 0ms linear, 0.5s ease-out 0.4s;
  z-index: 2;
}
#insta::before {
  background-color: red;
}
#behance::before {
  background-color: blue;
}
.con-card:hover {
  transform-style: preserve-3d;
  transform: scale(1.2) perspective(1000px);
  -webkit-transform: scale(1.2) perspective(1000px);
  -moz-transform: scale(1.2) perspective(1000px);
  -ms-transform: scale(1.2) perspective(1000px);
  -o-transform: scale(1.2) perspective(1000px);
  animation: flip 1s linear 1;
  -webkit-animation: flip 1s linear 1;
}
.con-card:hover::before {
  visibility: visible;
  opacity: 1;
}
@keyframes flip {
  from {
    transform: perspective(1000px) rotateY(0deg) scale(1);
    -webkit-transform: perspective(1000px) rotateY(0deg) scale(1);
    -moz-transform: perspective(1000px) rotateY(0deg) scale(1);
    -ms-transform: perspective(1000px) rotateY(0deg) scale(1);
    -o-transform: perspective(1000px) rotateY(0deg) scale(1);
  }
  to {
    transform: perspective(1000px) rotateY(180deg) scale(1.2);
    -webkit-transform: perspective(1000px) rotateY(180deg) scale(1.2);
    -moz-transform: perspective(1000px) rotateY(180deg) scale(1.2);
    -ms-transform: perspective(1000px) rotateY(180deg) scale(1.2);
    -o-transform: perspective(1000px) rotateY(180deg) scale(1.2);
  }
}
.contact-con h1 {
  position: absolute;
  font-size: 10rem;
  text-align: center;
  max-width: 1200px;
  color: transparent;
  margin: 0 auto;
}
.contact-con h1::before {
  content: "WHERE TO FIND ME";
  display: flex;
  position: absolute;
  top: -128px;
  text-align: center;
  font-size: 13rem;
  max-width: 1300px;
  line-height: 160%;
  color: transparent;
  margin: 0 auto;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.contact-con h1:hover::before {
  color: var(--primary);
  animation: showey 0.5s linear infinite;
  -webkit-animation: showey 0.5s linear infinite;
}
@keyframes showey {
  0% {
    font-family: Geist;
  }
  25% {
    font-family: BodoniModa;
  }
  50% {
    font-family: Poppins;
  }
  75% {
    font-family: PlayfairDisplay;
  }
}
.con-card:active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ARCHITECTURE */

/* PHTOGRAPHY */
/* SKETCHES */

/* MEDIA QUIRIES */
@media screen and (max-width: 1345px) {
  .banner .content h1 {
    font-size: 9em;
  }
}
@media screen and (max-width: 1024px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .banner .content h1 {
    text-align: center;
    width: 100%;
    font-size: 7em;
    line-height: 1em;
  }
  .banner .content .author {
    color: var(--primary);
    padding: 20px;
    text-shadow: 0 10px 20px var(--base-black);
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .banner .content h2 {
    margin: 0 auto;
  }
  .card-content h3 {
    font-size: 12px;
  }
  .contact-con h1::before {
    font-size: 11rem;
    top: -70px;
  }
  .contact-con h1:hover::before {
    animation: showey 0.8s linear infinite;
    -webkit-animation: showey 0.8s linear infinite;
  }
  .contact-con .con-card {
    width: 275px;
    height: 375px;
  }
}
@media screen and (max-width: 768px) {
  .banner .slider {
    width: 130px;
    height: 170px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 5em;
  }
  .banner .slider .item .card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .head .frame {
    float: none;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    background-image: url(images/model.webp);
    background-size: cover;
    background-position: center;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
  .head .frame:hover {
    pointer-events: none;
  }
  .head .frame::before {
    display: none;
  }
  .head .frame::after {
    display: none;
  }

  .head .content {
    margin-bottom: 40px;
    margin-right: 0px;
    padding-left: 0px;
    overflow-wrap: break-word;
  }
  .head .content h1 {
    text-align: center;
  }
  .card::before {
    pointer-events: none;
  }
  .card-content h3 {
    font-size: 10px;
  }
  .contact-con .con-card {
    width: 250px;
    height: 350px;
  }
  .contact-con .con-card::before {
    pointer-events: none;
  }
  .contact-con .con-card:hover::before {
    pointer-events: none;
  }
  .con-card svg {
    width: 96px;
    height: 96px;
  }
  .con-card h2 {
    font-size: 2rem;
  }
  .contact-con h1::before {
    top: 96px;
    font-size: 8rem;
    color: var(--primary);
    animation: showey 1s linear infinite;
    -webkit-animation: showey 1s linear infinite;
  }
  .contact-con h1 {
    pointer-events: none;
  }
}
@media screen and (max-width: 464px) {
  .banner .slider {
    width: 130px;
    height: 170px;
    left: calc(50% - 60px);
  }
  .banner .content h1 {
    font-size: 3em;
  }
  .banner .content h2 {
    font-size: 2em;
  }
  .head .frame {
    height: 350px;
  }
  .head .content h1 {
    font-size: 1.5rem;
    text-wrap: nowrap;
  }
  .btns {
    flex-direction: column;
  }
  .button {
    width: 90%;
    height: 90%;
    text-align: center;
  }
  .see {
    margin: 0 auto 24px auto;
  }
  .collab {
    margin: 0 auto;
  }
  .button:active {
    pointer-events: none;
  }
  .button:hover {
    pointer-events: none;
  }
  .button:hover::before {
    pointer-events: none;
  }
  .see::before {
    pointer-events: none;
  }
  .collab::before {
    pointer-events: none;
  }
  .contact-con {
    height: 75vh;
  }
  .contact-con .con-card {
    width: 175px;
    height: 275px;
  }
  .con-card svg {
    width: 64px;
    height: 64px;
  }
  .con-card h2 {
    font-size: 1.8rem;
  }
  .contact-con h1 {
    display: none;
  }
  .contact-con h1::before {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(150px);
  }
  .contact-con .con-card {
    width: 128px;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .con-card h2 {
    font-size: 1rem;
  }
}
